h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
text-shadow: -10px 10p #444;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:green;
    text-decoration: underline;
}
p{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em ;
    background-color: white;
    font-weight: bold;
}
strong{
    color: green;
    text-decoration: none;

}
.important{
    color: red;
    background-color: yellow;
    font-weight: bold;
}
.code-texte{
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}
.c1 { font-size: large; color: blue; opacity: 0.5; }
.c3 { font-weight: bold; color: red; }
.c2  { font-size: x-large; color: black; }
.c4 { font-size: xx-large; color: green; text-shadow: -10px 10px 6px blue;
}
*{
    font-family: Verdana , Ariala , sans-serif;
}
