.c1{text-align: center;
color: red;}
.c2{
    text-decoration: underline;
    color: green;
}
.c3 {
    list-style: none;
    background-image: url("images/drapeauC.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    padding-left: 24px;
}

*{
    font-family: arial;
    color: #333;
    background-color: #f4f4f4;
}
h1{
    font-size: 1.5em;
    color: #009639;
}
h2,h1{
    text-align: center;
}
.l{color: red;
text-decoration: underline;}
.img1{
    float: right;
}
.l2{
    color: #004d00;
    font-weight: bold
}